<section class="item-details section">
  <div class="container">
    <div class="row my-2">
      <div class="top-area col-sm-8">
        <div class="row">
          <p class="text-primary fw-bold lead">Customer Details</p>
          <div class="col-sm-4">
            <p>Full name <br>{{ user.firstName }} {{ user.lastName }}</p>
          </div>
          <div class="col-sm-4">
            <p>Phone number <br> {{ user.phone }} </p>
          </div>
          <div class="col-sm-4">
            <p>Email <br>{{ user.email }}</p>
          </div>
        </div>

        <hr>
        <div class="row">
          <p class="text-primary fw-bold lead">Shipping Address</p>
          <div class="col-sm-3">
            <p> Street address <br> {{ user.shippingAddress.street }}</p>
          </div>
          <div class="col-sm-3">
            <p>City <br> {{ user.shippingAddress.city }}</p>
          </div>
          <div class="col-sm-3">
            <p>State <br> {{ user.shippingAddress.state }}</p>
          </div>
          <div class="col-sm-3">
            <p>Country <br>{{ user.shippingAddress.country }}</p>
          </div>
        </div>

        <hr>
        <div class="row">
          <p class="text-primary fw-bold lead">Billing Address</p>
          <div class="col-sm-3">
            <p> Street address <br> {{ user.billingAddress.street }}</p>
          </div>
          <div class="col-sm-3">
            <p>City <br> {{ user.billingAddress.city }}</p>
          </div>
          <div class="col-sm-3">
            <p>State <br> {{ user.billingAddress.state }}</p>
          </div>
          <div class="col-sm-3">
            <p>Country <br>{{ user.billingAddress.country }}</p>
          </div>
        </div>
        <hr>
        <button (click)="gotoSearch()" type="submit" class="btn btn-primary my-3">Continue shopping</button>
        <button routerLink="/user-details" type="submit" class="btn btn-outline-primary" style="float: right">
          Update user info
        </button>
      </div>

      <div class="top-area col-sm-4">
        <p class="text-primary fw-bold lead">Review Your Order</p>
        <table *ngIf="totalQuantity > 0" class="table">
          <tbody class="text-muted">
          <tr>
            <th scope="row">Total Price</th>
            <td>{{ totalPrice | currency: 'N'  }}</td>
          </tr>
          <tr>
            <th scope="row">Shipping</th>
            <td>{{ shippingFee | currency: 'N' }}</td>
          </tr>
          <tr>
            <th scope="row">You pay</th>
            <td>{{ totalPrice + 1000 | currency: 'N' }}</td>
          </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-sm-12">
            <button (click)="checkout()" type="submit" class="btn btn-success my-3" style="width: 100%">Checkout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
