<!-- Start Trending Product Area -->
<section class="trending-product section" style="margin-top: 12px;">
  <div class="container">
    <div class="category mb-5">
      <div class="row" >
        <div class="col-12">
          <div class="section-title">
            <h2>HERBS</h2>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="items$ | async as items">
        <div *ngFor="let item of items" class="col-lg-3 col-md-6 col-12">
          <!-- Start Single Product -->
          <div class="single-product">
            <div class="product-image">
              <img src="../../../assets/images/hero/food-sharing-bnr.png" alt="{{ item.imageUrl }}" height="300px">
<!--              <img src="../..{{ item.imageUrl }}" alt="{{ item.imageUrl }}" height="300px">-->
              <!--<div class="button">
                <a href="product-details.html" class="btn"><i class="lni lni-cart"></i> Add to Cart</a>
              </div>-->
            </div>
            <div class="product-info">
<!--              <span class="category">{{ item.category | titlecase }}</span>-->
              <h4 class="title text-center">
                <a routerLink="/{{item.category}}/{{item.name}}">{{ item.name | titlecase }}</a>
              </h4>
              <!--<ul class="review">
                <li><i class="lni lni-star-filled"></i></li>
                <li><i class="lni lni-star-filled"></i></li>
                <li><i class="lni lni-star-filled"></i></li>
                <li><i class="lni lni-star-filled"></i></li>
                <li><i class="lni lni-star"></i></li>
                <li><span>4.0 Review(s)</span></li>
              </ul>-->
              <!--<div class="price">
                <span>{{ item.price | currency:'N ' }}</span>
              </div>-->
            </div>
          </div>
          <!-- End Single Product -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Trending Product Area -->
