
<!-- Start Trending Product Area -->
<section class="trending-product section" style="margin-top: 12px;">
  <div class="container text-center">
    <div class="row mb-3">
      <div class="col-md-10">
        <form [formGroup]="searchForm">
          <div class="row">
            <div class="col-md-9">
              <input formControlName="keyword" type="text" class="form-control" id="keyword" placeholder="Find product by Name, Category or Sub-category">
            </div>
            <div class="col-md-3">
              <button class="form-control btn btn-success" (click)="search()">Search</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-2">
        <button type="button" class="form-control btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
          Add Product
        </button>
      </div>
    </div>


    <table class="table text-sm-start">
      <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Product Name</th>
        <th scope="col">Category</th>
        <th scope="col">SubCategory</th>
        <th scope="col">Image URL</th>
        <th scope="col">Display</th>
        <th scope="col">Price</th>
        <th scope="col">Promo</th>
        <th scope="col">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products | slice: (page-1) * pageSize : page * pageSize">
        <th scope="row">
          <img src="../../../{{ product.imageUrl }}" alt="" height="50px" width="50px">
        </th>
        <th>{{ product.name | titlecase }}</th>
        <td>{{ product.category | titlecase }}</td>
        <td>{{ product.subCategory | titlecase }}</td>
        <td>{{ product.imageUrl }}</td>
        <td>{{ product.display }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.promo }}</td>
        <td>
          <button (click)="editProduct(product)" type="button" class="btn btn-sm btn-primary mr-2" data-bs-toggle="modal" data-bs-target="#editModal">
            <i class="lni lni-pencil"></i>
          </button>
          <a (click)="deleteProduct(product)" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmModal">
            <i class="lni lni-trash-can"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--pagination-->
  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="products.length">
  </ngb-pagination>
  <!--end pagination-->

  <!-- Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ buttonLabel }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="newProductForm">
            <div class="row g-3 align-items-center">
              <div class="col-auto col-md-12 mb-1">
                <label class="form-label" for="name">Product Name</label>
                <input formControlName="name" id="name" type="text" class="form-control" aria-describedby="">
              </div>
              <div class="col-auto col-md-6">
                <label class="form-label" for="category">Category</label>
                <select formControlName="category" id="category" class="form-control" (change)="getSubCategories($event.target.value)"
                >
                  <option
                    *ngFor="let category of categories;"
                    value="{{ category.name }}">
                    {{ category.name | titlecase }}
                  </option>
                </select>
              </div>
              <div class="col-auto col-md-6">
                <label class="form-label" for="sub-category">Subcategory</label>
                <select formControlName="subCategory" id="sub-category" class="form-control">
                  <option
                    *ngFor="let sub of subCategories;"
                    value="{{ sub.name }}">
                    {{ sub.name | titlecase }}
                  </option>
                </select>
              </div>
              <div class="col-auto col-md-12">
                <label class="form-label" for="imageUrl">Image URL</label>
                <input formControlName="imageUrl" type="text" id="imageUrl" class="form-control" aria-describedby="">
              </div>
              <div class="col-auto col-md-4">
                <label class="form-label" for="price">Subcategory</label>
                <input formControlName="price" type="number" id="Price" class="form-control" aria-describedby="">
              </div>
              <div class="col-auto col-md-4">
                <label class="form-label" for="display">Display</label>
                <select formControlName="display" id="display" class="form-control">
                  <option value=null selected>Display</option>
                  <option value=true>True</option>
                  <option value=false>False</option>
                </select>
              </div>
              <div class="col-auto col-md-4">
                <label class="form-label" for="promo">Promo</label>
                <select formControlName="promo" id="promo" class="form-control">
                  <option value=null>Promo</option>
                  <option value=true>True</option>
                  <option value=false>False</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="addProduct()" type="button" class="btn btn-success" data-bs-dismiss="modal">{{ buttonLabel }}</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Trending Product Area -->

<!--Confirm Delete Modal-->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger">Are you sure you want to delete?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{{this.productToDelete.imageUrl}}" alt="" height="100px" style="float: left">
        <p class="">
          <span class="fw-bold">Product name </span>: {{ this.productToDelete.name | titlecase }} <br>
          <span class="fw-bold">Category </span>: {{ this.productToDelete.category | titlecase }} <br>
          <span class="fw-bold">Sub Category </span>: {{ this.productToDelete.subCategory | titlecase}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="confirmDeleteProduct()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Confirm Delete</button>
      </div>
    </div>
  </div>
</div>
<!--end Confirm Delete Modal-->
