<div class="container" *ngIf="cartItems.length>0">
  <table class="table lead">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Product Name</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Subtotal</th>
      <th scope="col">Remove</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tempCartItem of cartItems">
      <th scope="row">
        <img src="{{ tempCartItem.imageUrl }}" alt="" style="width: 100px"></th>
      <td>{{ tempCartItem.name | titlecase}}</td>
      <td>{{ tempCartItem.unitPrice | currency: 'N' }}</td>
      <td>
        <button (click)="decrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
          <i class="lni lni-minus"></i>
        </button>
        {{ tempCartItem.quantity }}
        <button (click)="incrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
          <i class="lni lni-plus"></i>
        </button>
      </td>
      <td>
        {{ tempCartItem.quantity * tempCartItem.unitPrice | currency: 'N' }}
      </td>
      <td>
        <button (click)="remove(tempCartItem)" class="btn btn-danger btn-sm">
          <i class="lni lni-trash-can"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="fw-bold">
        Grand Total: <br>
        Shipping: <br>
        You pay:
      </td>
      <td class="fw-bold">
         {{ totalQuantity }} <br>
        Free <br>
        {{ totalPrice | currency: 'N ' }} <br> <br>
        <a class="btn btn-primary" routerLink="/checkout">Checkout</a>
      </td>
    </tr>
    </tbody>
  </table>

</div>

<div *ngIf="cartItems.length===0" class="container my-2">
  <p class="lead alert alert-warning">Your shopping cart is empty</p>
</div>
