<div class="container table-responsive" *ngIf="cartItems.length>0">
  <table class="table">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Product Name</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Subtotal</th>
      <th scope="col">Remove</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tempCartItem of cartItems">
      <th scope="row">
        <img src="{{ tempCartItem.imageUrl }}" alt="" style="width: 100px"></th>
      <td>{{ tempCartItem.name | titlecase}}</td>
      <td>{{ tempCartItem.unitPrice | currency: 'N' }}</td>
      <td>
        <button (click)="decrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
          <i class="lni lni-minus"></i>
        </button>
        {{ tempCartItem.quantity }}
        <button (click)="incrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
          <i class="lni lni-plus"></i>
        </button>
      </td>
      <td>
        {{ tempCartItem.quantity * tempCartItem.unitPrice | currency: 'N' }}
      </td>
      <td>
        <button (click)="remove(tempCartItem)" class="btn btn-danger btn-sm">
          <i class="lni lni-trash-can"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="fw-bold text-sm-end" colspan="2">
        Grand Total <br>
        Shipping <br>
        You pay
      </td>
      <td class=" fw-bold text-sm-start">
         {{ totalPrice | currency: 'N'}} <br>
        <strong>{{ shippingFee | currency: 'N' }}</strong> <br>
        {{ totalPrice + shippingFee | currency: 'N' }} <br> <br>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="col-sm-2 offset-sm-10 my-2">
    <a (click)="checkout()" class="btn btn-success" style="width: 100%"> Proceed to Checkout</a>
  </div>

</div>

<div *ngIf="cartItems.length===0" class="container my-2 text-sm-center">
  <p class="lead alert alert-warning">Your shopping cart is empty!</p>
</div>
