<section class="item-details section">
  <div class="container">
    <div *ngIf="!paymentSucceeded" class="top-area col-sm-6 offset-sm-3 col-12 my-5">
      <div class="row">
        <div class="col-sm-9">
          <p>ORDER SUMMARY</p>
          <p class="text-dark fw-bold">
            TOTAL PRICE:
            <span class="float-right">{{ totalPrice | currency: 'N' }}</span>
          </p>
        </div>
        <div class="col-sm-3">
          <flutterwave-make-payment
            [public_key]="publicKey"
            [amount]="totalPrice"
            currency='NGN'
            payment_options="card"
            redirect_url=""
            text="Pay Now"
            [customer]="customerDetails"
            [customizations]="customizations"
            [meta]="meta"
            [tx_ref]="generateReference()"
            (callback)="makePaymentCallback($event)"
            (close)="closedPaymentModal()" >
          </flutterwave-make-payment>
        </div>
      </div>
    </div>
  </div>
</section>
