/* You can add global styles to this file, and also import other style files */
.single-product .product-image img {
  height: 300px;
}

@media (max-width: 768px) {
  .single-product .product-image img {
    height: 250px;
  }
}
@media (max-width: 600px) {
  .single-product .product-image img {
    height: 150px;
  }
}
